*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  
    box-sizing: border-box;
}
nav {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.logo img {
  padding: 8px;
  margin: 8px;
  width: 250px;
  height: 110px;
  border-radius: 30px;
   
}
nav .menu {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav .menu a:hover {
  color: #73c2fb; 
  transition: color 0.3s ease; 
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.about-section{
    background: url(Bristol.jpeg) no-repeat left;
    background-size: 55%;
    background-color: #73c2fb;
 
    padding: 100px 0;
    
}

.about-section .data a {
    text-decoration: none; 
    color: red;
  }
  

  .about-section .data a:hover {
    text-decoration: none;
    color:  #73c2fb;
    ;
  }
  

.inner-container{
    width: 55%;
    float: right;
    background-color:whitesmoke;
    padding: 150px;

}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;

}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
   
}

.data{
    display: flex;
    justify-content: space-between;
    font-weight: 1000;
    font-size: 13px;
    text-decoration: none;
   
}

